#logo{
    width: 35%;
}
.nav-link{
    margin-right: 50px;
}
#menu{
    margin-left: 29%;
}
#loginbtn{
    margin-left: 5%;
    background-color: white;
    border: 1px #3f204e solid;
}
#navbar{
   background-color: #3f51b5;
   box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.23);
}
a{
    color:#969292;
    font-weight: bold;
    font-size: 20px;
}
mat-menu-item{
  margin-right: 5%;
}
button.mat-flat-button:hover{
    background-color: #b6acc7a3;
}
button.mat-flat-button:focus{
    background-color: #b6acc7a3;
}