<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="container">
    <mat-card class="example-card">
        <a placement="top" ngbPopover="{{usuaria[0].intereses}} {{usuaria[0].fechanacimiento}}" popoverTitle="{{usuaria[0].nombre}} {{usuaria[0].apellidos}}"><img mat-card-avatar src="http://localhost:3000/{{usuaria[0].foto}}"></a>
      <mat-card-header>
        <mat-card-title>Origen: {{ruta[0].origen}}</mat-card-title>
        <mat-card-title>Destino: {{ruta[0].destino}}</mat-card-title>
        <mat-card-subtitle>Hora: {{ruta[0].hora}}h</mat-card-subtitle>
        <mat-card-subtitle>Medio: {{ruta[0].medio}}</mat-card-subtitle>
        <mat-card-subtitle>Comentarios: {{ruta[0].comentarios}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
              <span class="demo-2"> Coordenadas:{{ruta[0].coordenadas}} </span>
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button matTooltip="Info about the action" mat-button>UNIRME AL TRAYECTO</button>
            <button matTooltip="Info about the action" mat-button>DEJAR COMENTARIO</button>
          </mat-card-actions>

          <agm-map [latitude]="lat1" [longitude]="lng1">
              <!--<agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>-->
              <!--<agm-marker  [latitude]="lat2" [longitude]="lng2"></agm-marker>-->
              <agm-direction [origin]="origin" [destination]="destination"></agm-direction>

          </agm-map>
    </mat-card>
  </div>
