<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-list>
                <mat-list-item id="listItem" *ngFor="let usuaria of usuarias">
                  <img id="foto" src="http://localhost:3000/{{usuaria.foto}}"/>
                
                    <a routerLink="/detailUser/{{usuaria.id}}">
                      <i class="material-icons">crop_free</i></a>
                    
                    <a routerLink="/detail/{{usuaria.id}}">
                    <i class="material-icons">cancel </i></a>
                      
                     
                  <h1 id="rutaTitle" matLine> {{usuaria.nombre}}  {{usuaria.apellidos}}</h1>
                  <p matLine>
                    <span class="demo-2"> {{usuaria.fechanacimiento}} </span>
                    <span> {{usuaria.email}} </span>
                  </p>

                </mat-list-item>
              </mat-list>
        </div>
    </div>
</div>

<ng-template #content let-modal>
  
</ng-template>