<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-4">
            <mat-card>Fecha y Nº de rutas</mat-card>
            <mat-card>Crear Ruta</mat-card>
            <mat-card>Mis Rutas</mat-card>
        </div>
        <div class="col-8">
            <mat-list>
                <mat-list-item id="listItem" *ngFor="let ruta of rutas">
                  
                    <a routerLink="/detail/{{ruta.idruta}}">
                      <i class="material-icons">favorite</i>
                    </a>
                    <i id="iconruta" matListAvatar class="material-icons">people</i>
                  <h1 id="rutaTitle" matLine> {{ruta.origen}} - {{ruta.destino}}</h1>
                  <p matLine>
                    <span class="demo-2"> {{ruta.hora}}h </span>
                    <span> {{ruta.medio}} </span>
                  </p>
                
                </mat-list-item>
              </mat-list>
        </div>
    </div>
</div>
