<div class="container">
    <h1 id="welcome">Bienvenida {{usuaria[0].nombre}}, ¿Qué quieres hacer hoy?</h1>


  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Crear Ruta</ng-template>
       <div class="step">
          <p>Puedes crear tu propia ruta para que otras usuarias se unan, así no tendrás que volver sola a casa.</p>

      </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Unirme a una ruta</ng-template>
      <div class="step">
        <p>O puedes unirte a una ruta ya publicada por otra usuaria, así os hacéis compañía.</p>

      </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Enviar invitaciones</ng-template>
      <div class="step">
        <p>Si quieres puedes invitar a tus amigas para que también compartan sus trayectos.</p>

    </div>
    </mat-step>
  </mat-horizontal-stepper>

<div class="container pt-4">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/src/assets/img/foto1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Conecta con otras usuarias para compartir tu camino de vuelta</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/src/assets/img/foto2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Ya no tendrás que preocuparte de volver a casa sola</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/src/assets/img/foto3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Da igual el transporte que uses, lo importante es compartirlo</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

