<div class="container acceso">
  <h1  class="titulo">Registro de Usuaria</h1>

<form id="formularioContacto" [formGroup]="angForm" enctype="multipart/form-data">
  <div class="form-group">
      <label for="name">Nombre</label>
      <input id="nombre" formControlName="nombre" #nombre type="text" class="form-control" data-validation="custom" data-validation-regexp="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" data-validation-length="min3" name="name">

  </div>
 <div class="form-group">
      <label for="phone">Apellidos</label>
      <input id="apellidos" formControlName="apellidos" #apellidos type="text" class="form-control" data-validation="custom" data-validation-regexp="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" data-validation-length="min3" name="surname">

  </div>
  <div class="form-group">
    <label for="dateOfBirth">Fecha de Nacimiento</label>
    <div class="input-group">
      <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp="ngbDatepicker" formControlName="fecha" #fecha>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nº Teléfono</label>
    <input  type="text" FormControlName="tfn" #tfn class="form-control" id="tfn"  placeholder="teléfono">
  </div>
  <div class="form-group">
      <label for="comment">Intereses</label>
      <textarea class="form-control" rows="5" FormControlName="intereses" #intereses id="intereses"></textarea>
    </div>
  <!--<div class="form-group">
        <label for="exampleFormControlFile1">Subir Foto</label>
        <input type="file" FormControlName="foto" #foto class="form-control-file"  id="foto" name="foto">
  </div>
  <input type="file" name="foto" FormControlName="foto" #foto ng2FileSelect [uploader]="uploader" />-->

  <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
</div>

  <!--<button type="button" class="btn btn-success btn-s"
    (click)="uploader.uploadAll()"
    [disabled]="!uploader.getNotUploadedItems().length" >
        Upload an Image
  </button>-->
  <div class="form-group">
      <label for="email">Email</label>
      <input id="mail" type="text" class="form-control" FormControlName="email" #email data-validation="required email">

  </div>
 <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password1" type="password" class="form-control" FormControlName="password1" #password1 id="password1" data-validation="required alphanumeric"  placeholder="Password">
    </div>

  <div class="form-group">
      <button id="boton-registro" type="button" (click)="createUsuaria(nombre.value, apellidos.value, fecha.value,tfn.value, intereses.value, email.value, password1.value)" class="btn btn-primary btn-lg btn-acceso" data-target="#exampleModal">Enviar</button>
  </div>
</form>

</div>
